<!doctype html>
<html>
    <head>
        <title>Um monstro</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    </head>
    <h5 align="center"><font align="center" color="red" ondblclick="Olá" >Ele vive aqui, e mantem o sistema funcionando, não faça movimentos bruscos </font></h5>
    <body class="dark">
        <div id="container"></div>
        <script src="lib/sketch.min.js"></script>
        <script src="lib/dat.gui.min.js"></script>
        <script src="js/tentacles.js"></script>
    </body>
</html>
