
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:adytyj
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE adytyj:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Qeveza
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Qeveza:ERRORPAGEID

